<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link href='static/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='static/css/offcanvas-content.css' rel='stylesheet' />
    <link href='static/css/navbar.css' rel='stylesheet' />

    <!-- Bootstrap CSS / JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Welcome</title>

    <!-- Style -->
    <style>
        html,
        body {
            margin: 0;
            height: 100%;
            overflow: hidden;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        ul {
            list-style-type: none;
        }

        .nav>li>a:hover {
            background-color: lightgrey;
        }

        #calendar {
            max-width: 700px
        }
    </style>

    <!-- JS -->
    <script>
        // get today's date
        function today() {
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            return today
        }

        $("#exampleModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data("whatever"); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find(".modal-title").text("New message to " + recipient);
            modal.find(".modal-body input").val(recipient);
        });


        function remove_input_value() {
            $("#job-description").val('');
            $("#User-memo").val('');
            document
                .querySelectorAll("input")
                .forEach((input) => {
                    input.value = "";
                    input.removeAttribute("value");
                });
        }

        function request_url() {
            let url = $("#input-url").val();
            $.ajax({
                type: "POST",
                url: "/memo",
                data: { 'url_give': url },
                success: function (response) {
                    if (response["result"] == "success") {
                        $("#job-position-name").val(response["position"])
                        $("#company-name").val(response["company_name"])
                        $("#company-location").val(response["company_location"])
                        $("#job-description").val(response["job_info"])
                        alert("Success!");
                    } else {
                        alert("Server Error!");
                    }
                }
            });
        }

        function save() {
            url = $('#input-url').val()
            job_position = $("#job-position-name").val()
            job_description = $("#job-description").val()
            company_name = $("#company-name").val()
            company_location = $("#company-location").val()
            date = $("#Apply-date").val(),
                memo = $('#User-memo').val()

            $.ajax({
                type: "POST",
                url: "/save",
                data: {
                    'url': url,
                    'job_position': job_position,
                    'job_description': job_description,
                    'company_name': company_name,
                    'company_location': company_location,
                    'date': date,
                    'memo': memo,
                    'unique_id': 'asdf'
                },
                success: function (response) {
                    alert(response['success_msg'])
                    window.location.reload();
                }
            })
        }

        function get_list() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    return response
                },
                error: function () {
                    alert('Error occured');
                }
            })
        }
    </script>

</head>


<body>

    <!-- navbar -->
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-brand navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop" aria-expanded="false"
                aria-label="Toggle navigation" style="margin-left:1rem;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav nav-pills navbar-right">
                <li class="nav-item active">
                    <a href="/index" class="nav-link" style="color:whitesmoke">index</a>
                </li>
                <li class="nav-item active" style="margin-left:2rem;">
                    <a href="/calendar" class="nav-link" style="color:whitesmoke">calendar</a>
                </li>
                <li class="nav-item active" style="margin-left:2rem;">
                    <a href="/board" class="nav-link" style="color:whitesmoke">board</a>
                </li>
            </ul>



            <a href="/logout" class="nav-link" style="color:whitesmoke; margin-right:2rem">Logout</a>
        </nav>
    </div>

    <!-- off-canvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
        aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header offcanvas-head-style">
            <h4 class="offcanvas-title" id="offcanvasWithBackdropLabel">Hi user</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="content offcanvas-div-align">
                <img class="offcanvas-content-image" src="static/images/spongebob.jpeg">
            </div>
            <div>
                <ul>
                    <li class="offcanvas-component"><a href="#" class="offcanvas-list-component">Profile</a></li>
                    <li class="offcanvas-component"><a href="#" class="offcanvas-list-component">Another action</a></li>
                    <li class="offcanvas-component"><a href="#" class="offcanvas-list-component">Something else here</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Calendar -->
    <div class="content">
        <div class="container">
            <div id='calendar'></div>
        </div>
    </div>

    <!-- create modal window -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">JOB INFO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="url-box">
                            <h2>URL 받아서 정보 긁어오기</h2>
                            <input id="input-url" type="text" /> <button type="button" class="btn btn-primary"
                                onclick="request_url()">클릭</button>
                        </div>

                        <div class="job_position_name">
                            <label for="job_position_name" class="col-form-label">Job Position Name</label>
                            <input type="text" id="job-position-name" class="form-control" />
                        </div>

                        <div class="company-name">
                            <label for="company-name" class="col-form-label">company name:</label>
                            <input type="text" class="form-control" id="company-name"></input>
                        </div>
                        <div class="company-location">
                            <label for="company-location" class="col-form-label">company location:</label>
                            <input type="text" class="form-control" id="company-location"></input>
                        </div>
                        <div class="Apply-date">
                            <label for="Apply-date" class="col-form-label">Apply date:</label>
                            <input type="date" class="form-control" id="Apply-date"></input>
                        </div>
                        <div class="job-description">
                            <label for="job-description" class="col-form-label">Job Description:</label>
                            <textarea class="form-control" id="job-description" rows="14"></textarea>
                        </div>
                        <div class="User-memo">
                            <label for="User-memo" class="col-form-label">Memo:</label>
                            <textarea class="form-control" id="User-memo" rows="14"></textarea>
                        </div>
                        <div class="upload-resume">
                            >Upload Resume:
                            <form action="/action_page.php">
                                <input type="file" id="myFile" name="filename">
                                <input type="submit">
                            </form>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="save()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- render calendar -->
    <script src='static/fullcalendar/packages/core/main.js'></script>
    <script src='static/fullcalendar/packages/interaction/main.js'></script>
    <script src='static/fullcalendar/packages/daygrid/main.js'></script>

    <script>
        var data = '{{all_data}}'
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var data = '{{ all_data }}';
            console.log(get_list())

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                defaultDate: today(),
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventClick: function (info) {
                    console.log(info.event.id)
                    //alert('Event: ' + info.event.title);
                    //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    //alert('View: ' + info.view.type);
                },
                events: [{
                    id: '2022-02-01-1',
                    title: 'Aa',
                    start: '2022-02-01'
                }, {
                    title: 'Long Event',
                    start: '2022-02-07',
                    end: '2022-02-10'
                }, {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-02-09T16:00:00'
                }, {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-02-16T16:00:00'
                }, {
                    title: 'Conference',
                    start: '2022-02-11',
                    end: '2022-02-13'
                }, {
                    title: 'Meeting',
                    start: '2022-02-12T10:30:00',
                    end: '2022-02-12T12:30:00'
                }, {
                    title: 'Lunch',
                    start: '2022-02-12T12:00:00'
                }, {
                    title: 'Meeting',
                    start: '2022-02-12T14:30:00'
                }, {
                    title: 'Happy Hour',
                    start: '2022-02-12T17:30:00'
                }, {
                    title: 'Dinner',
                    start: '2022-02-12T20:00:00'
                }, {
                    title: 'Birthday Party',
                    start: '2022-02-13T07:00:00'
                }, {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2022-02-28'
                }]
            });

            calendar.render();

            // if click calendar day grid
            calendar.on('dateClick', function (info) {
                $('#exampleModal').modal('show');
                $('#Apply-date').val(info.dateStr);
            });
            console.log(calendar.getEventById('2022-02-01-1'))
        });


    </script>

</body>

</html>