<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Webpage Title -->
  <title>Job Application Tracker</title>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <script>
      // function remove_input_value(){
      //   .querySelectorAll("input2")
      //   .foreach( (input2)) => {
      //     input2.value = "";
      //     input2.removeAttribute("value");
      //   }
      // };



      function openclose() {
        if ($("#myModal").css("display") == "block") {
          $("#myModal").modal("hide");
          $("#btn-posting-box").text("Add");
        } else {
          $("#myModal").modal("show");
          $("#btn-posting-box").text("-");
        }
      }
    }

    $(document).ready(function () {
      $("#cards-box").html("");
      listing();
    });
    $("#exampleModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var recipient = button.data("whatever"); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this);
      modal.find(".modal-title").text("New message to " + recipient);
      modal.find(".modal-body input").val(recipient);
    });

      function remove_input_value(){
        document
          .querySelectorAll( "input" )
          .forEach( ( input ) => {
              input.value = "";
              input.removeAttribute( "value" );
          } );
      }

      function request_url() {
        // 읽기
        let url = $("#input-url").val();
        // URL을 읽어서 HTML를 받아오고,
        // 우리가 크롬 콘솔창에서 썼던 그 코드!
        $.ajax({
          type: "POST", // POST 방식으로 요청하겠다.
          url: "/memo", // /memo라는 url에 요청하겠다.
          data: { 'url_give': url}, // 데이터를 주는 방법
          success: function (response) {
            // 성공하면
            if (response["result"] == "success") {
              $("#job-position-name").val(response["position"])
              $("#company-name").val(response["company_name"])
              $("#company-location").val(response["company_location"])
              $("#job-description").val(response["job_info"])
              alert("Success!");
              // window.location.reload();
            } else {
              alert("Server Error!");
            }}
      });
    }
  </script>

  <!-- style -->
  <style type="text/css">
    * {
      font-family: "Stylish", sans-serif;
    }

    .wrap {
      width: 900px;
      margin: auto;
    }

    .comment {
      color: blue;
      font-weight: bold;
    }

    .form-post {
      max-width: 500px;
      padding: 2rem;
      margin: 2rem auto;
      border-color: #e9ecef;
      border-radius: 0.3rem;
      border: solid;
      display: block;
    }

      #posting-box {
        display: none;
      }
      .modal-dialog{
        overflow-y: initial !important
      }
      .modal-body{
          height: 80vh;
          overflow-y: auto;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <div class="jumbotron">
        <h1 class="display-4">Job Application Tracker!</h1>
        <p class="lead">Keep track of your job application process!</p>
        <hr class="my-4" />
        <p class="lead">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
            data-whatever="@mdo"
            onclick = "remove_input_value()"
          >
            Add
          </button>
        </p>
      </div>
    </div>
  </div>


    
    <div class = "wrap2">
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">JOB INFO</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form>
                <div class="url-box">
                  <h2>URL 받아서 정보 긁어오기</h2>
                  <input id="input-url" type="text" /> <button type = "button" class= "btn btn-primary" onclick = "request_url()">클릭</button>
                </div>

                <div class="job_position_name">
                  <label for="job_position_name" class="col-form-label"
                    >Job Position Name</label
                  >
                  <input type="text" id = "job-position-name" class="form-control"/>
                </div>

                <div class="company-name">
                  <label for="company-name" class="col-form-label"
                    >company name:</label
                  >
                  <input type = "text" class="form-control" id="company-name"></input>
                </div>
                <div class="company-location">
                  <label for="company-location" class="col-form-label"
                    >company location:</label
                  >
                  <input type = "text" class="form-control" id="company-location"></input>
                </div>
                <div class="Apply-date">
                  <label for="Apply-date" class="col-form-label"
                    >Apply date:</label
                  >
                  <input type = "date" class="form-control" id="Apply-date"></input>
                </div>
                <div class="job-description">
                  <label for="job-description" class="col-form-label"
                    >Job Description:</label
                  >
                  <input type = "textarea" class="form-control" id="job-description"></input>
                </div>
                <div class="User-memo">
                  <label for="User-memo" class="col-form-label"
                    >Memo:</label
                  >
                  <input type = "textarea" class="form-control" id="User-memo"></input>
                </div>
                <div class = "upload-resume">
                  >Upload Resume:
                  <form action="/action_page.php">
                    <input type="file" id="myFile" name="filename">
                    <input type="submit">
                  </form>
                </div>
              </form>
            </div> 
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>